
    <!--  Core JS Files  -->
    <script src="/crm/assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="/crm/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/crm/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="/crm/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" type="text/javascript"></script>

  
    <!-- Chartist JS -->
    <script src="/crm/assets/js/plugins/chartist.min.js"></script>

    <!-- Notifications Plugin -->
    <script src="/crm/assets/js/plugins/bootstrap-notify.js"></script>    
    <script src="/crm/assets/js/plugins/moment.min.js"></script>    
    <script src="/crm/assets/js/plugins/arrive.min.js"></script>
    <script src="/crm/assets/js/plugins/daterangepicker.js"></script>

    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/crm/assets/js/material-dashboard.js" type="text/javascript"></script>    
   

    <!-- Things that a make -->
    <script src="/crm/assets/js/classes/userSession.js"></script>
    <script src="/crm/assets/js/classes/message.js"></script> 
    <script src="/crm/assets/js/classes/active.js"></script>
    <script src="/crm/assets/js/classes/alertas-sistema.js"></script>
    <script src="/crm/assets/js/classes/title.js"></script>
    <script src="/crm/assets/js/classes/deleteFiles.js"></script>
    <script src="/crm/assets/js/ValidatelogOut.js"></script>
    <script src="/crm/assets/js/permisos.js"></script>
    <script src="/crm/assets/js/currency-format.js"></script>
    

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <!-- --------------------------------------------------- -->
