<title>CRM</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

<!-- Material Dashboard CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="/crm/assets/css/material-dashboard.css" rel="stylesheet" />



<!-- CCS that i made -->
<link rel="shortcut icon" href="/crm/assets/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/crm/sidebar/css/sidebar.css">
<link rel="stylesheet" href="/crm/assets/css/table-styles.css">
<link rel="stylesheet" href="/crm/assets/css/form-extra-styles.css">
<link rel="stylesheet" href="/crm/assets/css/daterangepicker.css">
<!-- <link rel="stylesheet" href="/crm/assets/css/chartist-extra.css"> -->

<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
