
  
  <!-- Modal -->
  <div class="modal fade" id="modal-detalle" tabindex="-1" role="dialog" aria-labelledby="modalDetalleLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDetalleLabel">Detalle de la parcialidad: N° Serie <span id="id-parcialidad-modal"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: #EEEEEE8C">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Lista de Artículos</h4>
                        <p class="card-category">Selecciona el SKU y escribe la cantidad</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="height: auto">
                            <table class="table" id="tbl-lista-items-parcial-id">
                            <thead class=" text-primary">                                
                                <th>Sku</th>
                                <th>Concepto</th>
                                <th class="text-right">Precio</th>
                                <th style="width: 1px">Cant</th>
                                <th style="width: 1px">Dcto</th>
                                <th style="width: 1px">Etga</th>
                                <th style="width: 1px">Rest</th>
                                <th class="text-right">Total</th>                                
                            </thead>
                            <tbody></tbody>
                          </table>
                        </div>
                    </div>
                    </div>
                </div>           
            </div>       
        </div>

        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right" id="btn-cancelar-parcialidad"><span class="material-icons"> clear</span>Cancelar</button>
          <button type="button" class="btn btn-primary pull-right" id="btn-autorizar-parcialidad"><span class="material-icons"> done</span> Autorizar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


<!-- Modal detalle de la promoción -->
<div class="modal fade" id="modal-detalle-promo" tabindex="-1" role="dialog" aria-labelledby="modalDetallePromoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalle de la promoción: <span id="id-promocion-modal"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: #EEEEEE8C">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Lista de Artículos</h4>
                <p class="card-category">Selecciona el SKU y escribe la cantidad</p>
              </div>
              <div class="card-body">
                <div class="table-responsive" style="height: auto">
                    <table class="table table-sm table-striped" id="tbl-detalle-promo">
                    <thead class=" text-primary">                                
                      <tr>
                        <td>Id Item</td>             
                        <td>Nombre Item</td>
                        <td>Sku</td>     
                        <td>Cantidad</td>
                        <td>Etga</td>
                        <td>Rest</td>
                      </tr>                      
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Observaciones</label>
                      <div class="form-group">
                        <label class="bmd-label-floating"> Ingresa observaciones sobre la parcialidad</label>
                        <textarea class="form-control" rows="3" name="observaciones-parcialidad-promo"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>           
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Parcialidades</h4>                
              </div>
              <div class="card-body">
                <div class="table-responsive" style="height: auto">
                    <table class="table table-sm table-striped" id="tbl-detalle-promo-parcialidades">
                    <thead class=" text-primary">                      
                      <tr>
                        <td>Id Parcialidad</td>             
                        <td>Id venta</td>
                        <td>Fecha de creación</td>     
                        <td>Vendedor</td>
                        <td>Estatus</td>  
                        <td>Observaciones</td>                    
                      </tr>                      
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>           
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Detalle de la Parcialida N° <span id="id-parcialidad-promo"></span></h4>                
              </div>
              <div class="card-body">
                <div class="table-responsive" style="height: auto">
                    <table class="table table-sm table-striped" id="tbl-detalle-parcialida-promo">
                    <thead class=" text-primary">                      
                      <tr>
                        <td>Id</td>             
                        <td>Sku</td>
                        <td>Nombre</td>     
                        <td>Cantidad</td>
                        <td>Entregado</td>                      
                      </tr>                      
                    </thead>
                    <tbody></tbody>                    
                  </table>
                </div>
              </div>
            </div>
          </div>           
        </div>

      </div>
      <div class="modal-footer">      
        <button type="button" class="btn btn-primary pull-right" id="btn-new-par-promo"><span class="material-icons">done</span> Crear parcialidad</button>
        <button type="button" class="btn btn-primary pull-right" id="btn-auto-par-promo" hidden><span class="material-icons">done</span> Autorizar parcialidad</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>   
</div>
