.select-custom select {
    border: none;
    border-bottom: 2px solid #d6d6d6;
}

.select-custom {
    margin: 3px !important;
}

.select-custom label {
    font-size: 0.6875rem;
    position: absolute;    
    top: -11px;    
    margin-bottom: 13px;
}