.btn-tbl-accion {
    text-shadow: 2px 2px 4px #00000059;
}

.table-responsive {
    height: 390px;
}

.background-td-editable {

    background-color: rgba(173, 237, 246, 0.31);

}

td > select {
    text-align-last: center;
}