<!-- Modal item-->
  <div class="modal fade" id="modal-nuevo-item" tabindex="-1" role="dialog" aria-labelledby="modalDetalleLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDetalleLabel">Formulario para nuevo Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: #EEEEEE8C">
          <div class="row">
              <div class="col-md-12">
                <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Nuevo Item</h4>
                    <p class="card-category">Agrega la información del item</p>
                </div>
                <div class="card-body">
                  
                  <form id="form-add-item">                    
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Sku</label>
                          <input type="text" class="form-control" name="sku">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Concepto</label>
                          <input type="text" class="form-control" name="nombre">
                        </div>
                      </div>                
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Precio</label>
                          <input type="text" class="form-control" name="precio">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Stock</label>
                          <input type="text" class="form-control" name="stock">
                        </div>
                      </div>
                    </div>
                  </form>
                  <br>
                  <br>

                </div>
              </div>
            </div>           
          </div>       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right" id="btn-add-item"><span class="material-icons">done</span> Agregar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal promocion-->
  <div class="modal fade" id="modal-nueva-promocion" tabindex="-1" role="dialog" aria-labelledby="modalDetalleLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDetalleLabel">Formulario para nueva Promoción</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: #EEEEEE8C">
          <div class="row">
              <div class="col-md-12">
                <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Nueva promoción</h4>
                    <p class="card-category">Agrega la información de la nueva promoción </p>
                </div>
                <div class="card-body">


                  <form id="form-add-promocion">                    
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Sku</label>
                          <input type="text" class="form-control" name="sku-modal-promo">
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="form-group">
                          <label class="bmd-label-floating">Concepto</label>
                          <input type="text" class="form-control" name="concepto">
                        </div>
                      </div>
                    </div>                   
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Precio</label>
                          <input type="text" class="form-control" name="precio-modal-promo">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Rango de fechas</label>
                          <input type="text" class="form-control datefilter" name="date-range-promo">
                          <input type="hidden" name="promo-startDate">
                          <input type="hidden" name="promo-endDate">
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Lista de Artículos</h4>
                            <p class="card-category">Selecciona el SKU</p>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive" style="height: auto">
                            <table class="table" id="tbl-lista-sku-promo">
                              <thead class=" text-primary">                                
                                <th>Sku</th>
                                <th>Concepto</th>
                                <th style="width: 1px">Cant</th>                              
                              </thead>
                              <tbody>                                      
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>           
          </div>       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right" id="btn-add-promo"><span class="material-icons">done</span> Agregar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal edicion articulo-->
  <div class="modal fade" id="modal-edicion-articulo" tabindex="-1" role="dialog" aria-labelledby="modalDetalleLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDetalleLabel">Edición de artículo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: #EEEEEE8C; overflow: auto; height: 500px;">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Detalle del artículo</h4>                    
                </div>
                <div class="card-body">  
                  <form id="form-add-promocion">
                    
                    <div class="row">

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Sku</label>
                          <input type="text" class="form-control" name="modal-det-sku" disabled>
                        </div>
                      </div>

                      <div class="col-md-8">
                        <div class="form-group">
                          <label class="bmd-label-floating">Concepto</label>
                          <input type="text" class="form-control" name="modal-det-concepto">
                        </div>
                      </div> 

                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Precio</label>
                          <input type="text" class="form-control" name="modal-det-precio">
                        </div>
                      </div>                        
                    </div>

                  </form>                  
                </div>
              </div>
            </div>           
          </div>       
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Detalle de la promoción</h4>                    
                </div>
                <div class="card-body">
                  <div class="table-responsive" style="height: auto">
                    <table class="table table-sm table-striped" id="tbl-detalle-promo">
                      <thead class=" text-primary">                                
                        <tr>
                          <td>Id Item</td>             
                          <td>Nombre Item</td>
                          <td>Sku</td>     
                          <td>Cantidad</td>                       
                        </tr>                      
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>                  
                </div>
              </div>
            </div>    
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right" id="btn-save-changes-articulo"><span class="material-icons">done</span>Guardar Cambios</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>