<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <!-- <span class="material-icons">more_vert</span> -->
        <div class="navbar-wrapper">
            <!-- <a class="navbar-brand" id="title-wraper"></a> -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <!-- <form class="navbar-form">
            <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
                </button>
            </div>
            </form> -->
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="javascript:;">
                    <i class="material-icons">dashboard</i>
                    <p class="d-lg-none d-md-block">
                        Stats
                    </p>
                    </a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">notifications</i>
                        <span class="notification" id="notify-general" hidden></span>
                        <p class="d-lg-none d-md-block">Alertas</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" id="nuevo-medico" href="#">
                            Registro nuevo médico
                            <span class="notification" id="notify-new-medic" hidden></span>
                        </a>
                        <a class="dropdown-item" id="nueva-venta" href="#">
                            Registro nueva venta
                            <span class="notification" id="notify-new-sell" hidden></span>
                        </a>
                        <a class="dropdown-item" id="reasignar-medico" href="#">
                            Reasignación de médico &nbsp;
                            <span class="notification" id="notify-edit-medic" hidden></span>
                        </a>
                        <a class="dropdown-item" id="seguimiento-venta" href="#">
                            Seguimiento ord venta
                            <span class="notification" id="notify-edit-sell" hidden></span>
                        </a>
                        <a class="dropdown-item" id="contacto-web" href="#">
                            Contacto por web
                            <span class="notification" id="notify-contact-web" hidden></span>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">person</i>
                        <p class="d-lg-none d-md-block">Cuenta</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                        <a class="dropdown-item" href="#" onclick="redirectViewEditUser()">Perfil</a>                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="logOut()">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
