<div class="sidebar" data-color="azure" data-background-color="white" data-image="/crm/assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
        <div class="logo">
            <a href="#" class="simple-text logo-normal">
                <img src="/crm/assets/img/logo.png" alt="Logo empresa" style="width: 100%;">
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item" id="m-dashboard">
                    <a class="nav-link" href="/crm/dashboard/index.php">
                        <i class="material-icons">dashboard</i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" id="m-ventas">
                    <a class="nav-link" href="/crm/ventas/lista-ventas/index.php">
                        <i class="material-icons">monetization_on</i>
                        <span>Ventas</span>
                    </a>
                </li>
                <li class="nav-item" id="m-celulas-troncales">
                    <a class="nav-link" href="#sub-menu-celuas-troncales" data-toggle="collapse" aria-expanded="false">
                        <i class="material-icons">group_work</i>
                        <span>Celulas Troncales</span>
                    </a>
                    <ul class="collapse list-unstyled submenu" id="sub-menu-celuas-troncales">
                       
                        <li class="nav-item" id="c-mantenimiento">
                            <a class="nav-link" href="/crm/celulas%20troncales/control-mantenimiento/lista-mantenimientos/index.php">
                                <i class="material-icons">engineering</i>
                                <span>Control Mantenimiento</span>
                            </a>
                        </li> 
                        <li class="nav-item" id="m-medicos">
                            <a class="nav-link" href="/crm/celulas%20troncales/medico/lista-medicos/index.php">
                                <i class="material-icons">medical_services</i>
                                <span>Médicos</span>
                            </a>
                        </li>
                        <li class="nav-item" id="c-inventario">
                            <a class="nav-link" href="/crm/celulas%20troncales/articulos-venta/index.php">
                                <i class="material-icons">wysiwyg</i>
                                <span>Artículos de venta</span>
                            </a>                   
                        </li>
                        <li class="nav-item" id="m-Insumos">
                            <a class="nav-link" href="/crm/celulas%20troncales/materia%20prima/index.php">
                                <i class="material-icons">inbox</i>
                                <span>Materia prima</span>
                            </a>                   
                        </li>  
                        <li class="nav-item" id="c-pacientes">
                            <a class="nav-link" href="/crm/celulas%20troncales/paciente/lista-pacientes/index.php">
                                <i class="material-icons">accessible</i>
                                <span>Pacientes</span>
                            </a> 
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="m-area-inmunoterapia">
                    <a class="nav-link" href="#sub-menu-area-inmunoterapia" data-toggle="collapse" aria-expanded="false">
                        <i class="material-icons">psychology</i>
                        <span>Área de Inmunoterapia</span>
                    </a>
                    <ul class="collapse list-unstyled submenu" id="sub-menu-area-inmunoterapia">
                        <li class="nav-item" id="m-inmunoterapia">
                            <a class="nav-link" href="/crm/area%20de%20inmunoterapia/nuevo-tratamiento/nueva-inmunoterapia/index.php">
                                <i class="material-icons">biotech</i>
                                <span>Nuevo tratamiento</span>
                            </a>
                        </li>
                        <li class="nav-item" id="i-mantenimiento">
                            <a class="nav-link" href="/crm/area%20de%20inmunoterapia/mantenimiento-equipos/lista-mantenimientos/index.php">
                                <i class="material-icons">engineering</i>
                                <span>Mantenimiento de equipos</span>
                            </a>                            
                        </li> 
                        <li class="nav-item" id="i-pacientes">
                            <a class="nav-link" href="/crm/area%20de%20inmunoterapia/paciente/lista-pacientes/index.php">
                                <i class="material-icons">accessible</i>
                                <span>Pacientes</span>
                            </a>
                        </li>
                        <li class="nav-item" id="i-control-inventario">
                            <a class="nav-link" href="/crm/area%20de%20inmunoterapia/control-inventario/lista-inventario/index.php">
                                <i class="material-icons">all_inbox</i>
                                <span>Control Inventario</span>
                            </a>
                        </li>            
                    </ul>
                </li>
                <li class="nav-item" id="m-usuarios">
                    <a class="nav-link" href="#sub-menu-usuarios" data-toggle="collapse" aria-expanded="false">
                        <i class="material-icons">account_circle</i>
                        <span>Usuarios</span>
                    </a> 
                    <ul class="collapse list-unstyled submenu" id="sub-menu-usuarios">
                        <li class="nav-item">
                            <a class="nav-link" href="/crm/usuarios/nuevo-usuario/index.php">
                                <i class="material-icons">person_add_alt_1</i>    
                                <span>Nuevo Usuario</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/crm/usuarios/lista-usuarios/index.php">
                                <i class="material-icons">list_alt</i>
                                <span>Lista de Usuarios</span>
                            </a>
                        </li>                                  
                    </ul>
                </li> 
                <li class="nav-item" id="historial">
                    <a class="nav-link" href="/crm/historial/index.php">
                        <i class="material-icons">restore</i>
                        <span>Historial Movimientos</span>
                    </a>
                </li>         

            </ul>
        </div>
    </div>        