<!-- Modal item-->
  <div class="modal fade" id="modal-nuevo-insumo" tabindex="-1" role="dialog" aria-labelledby="modalDetalleLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDetalleLabel">Formulario para nuevo insumo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: #EEEEEE8C">
          <div class="row">
              <div class="col-md-12">
                <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Nuevo Insumo</h4>
                    <p class="card-category">Agrega la información del insumo</p>
                </div>
                <div class="card-body">
                  
                  <form id="form-add-insumo">                    
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Sku</label>
                          <input type="text" class="form-control" name="sku">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Concepto</label>
                          <input type="text" class="form-control" name="nombre">
                        </div>
                      </div>                
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Proveedor</label>
                          <input type="text" class="form-control" name="proveedor">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Stock</label>
                          <input type="text" class="form-control" name="stock">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Stock minimo</label>
                          <input type="text" class="form-control" name="stock-minimo">
                        </div>
                      </div>
                    </div>
                  </form>
                  <br>
                  <br>

                </div>
              </div>
            </div>           
          </div>       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right" id="btn-add-insumo"><span class="material-icons">done</span> Agregar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

 